@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Tolgahan Academy</h1>
    <p>
        <a class="btn btn-primary" href="/Course/Apply">Course Apply</a>
    </p>
</div>
