@model Candidate

<div class="display-6">
    Course Apply
</div>

<form method="post" action="/Course/Apply">
    <div class="form-group my-2">
        <label>Email</label>
        <input name="Email" class="form-control" />
    </div>

    <div class="form-group my-2">
        <label>FirstName</label>
        <input name="FirstName" class="form-control" />
    </div>

    <div class="form-group my-2">
        <label>LastName</label>
        <input name="LastName" class="form-control" />
    </div>

    <div class="form-group my-2">
        <label>Age</label>
        <select name="Age" class="form-control">
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
        </select>
    </div>

    <fieldset>
        <legend>Select One Course</legend>
        <p>
            <input id="mvc" type="radio" name="SelectedCourse" value="ASP.NET Course MVC" /> 
            <label>ASP.NET Course MVC</label>
        </p>
        <p>
            <input id="api" type="radio" name="SelectedCourse" value="ASP.NET Course API" /> 
            <label>ASP.NET Course API</label>
        </p>
        <p>
            <input id="blazor" type="radio" name="SelectedCourse" value="Blazor" /> 
            <label>Blazor</label>
        </p>
    </fieldset>

    <button class="btn btn-primary" type="submit">Apply</button>
    <a href="/" class="btn btn-warning">Home</a>
</form>